{% extends 'dreams/base.html' %}
{% load static %}

{% block main %}
<style>
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: 0px;
  height: 0px;
  padding: 2px;
  font: 12px sans-serif;
  background: #E5E5E5;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

</style>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">


          <div class="row">

              <div class="col-sm-8">

                <div class="au-card m-b-30">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">Inception</h3>
                        <div class="card-body" id="inception_chart"></div>
                    </div>
                </div>

              </div>


              <div class="col-sm-4 well">

                <div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
                  <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40" style="margin-bottom: 0px;">Interaction words</h3>
                          <div class="chart-wrapper" id="bar_chart"></div>
                      </div>
                  </div>
                </div>

                <div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
                  <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">TSNE</h3>
                          <center>
                          <div class="chart-wrapper" id="tsne_chart"></div>
                          </center>
                      </div>
                  </div>
              </div>

                <div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
                  <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Dream or Nightmare ?</h3>
                          <div class="chart-wrapper" id="posneg_second_chart"></div>
                      </div>
                  </div>
                </div>

              </div>

            </div>



        </div>
    </div>
</div>


{% endblock main %}

{% block d3js %}
<!-- TSNE CHART -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'dreams/js/tsneChart.js' %}"></script>
<script>
let d3v4 = d3
const w = 200;
const h = 200;
const leg_w = 150;
const leg_h = 150;
let x;
let y;
let dataset = [];
let on_word;

// Append SVG
let svg = d3v4.select("#tsne_chart")
      .append("svg")
      .attr("width", w)
      .attr("height", h)
      .call(d3v4.zoom().on("zoom", function () {
        svg.attr("transform", d3v4.event.transform)
      }))
      .append("g");

var tabeau_legendes = [{'type' : "Verb", 'color' : "#c300ff"},
          {'type' : "Noun", 'color' : "#009b31"},
          {'type' : "Adverb", 'color' : "#ff0000"},
          {'type' : "Other", 'color' : "#f4df41"},
          {'type' : "Adjective", 'color' : "#0008ff"},
          {'type' : "Proper Noun", 'color' : "#702e2e"}]

let tooltip_tsne = d3v4.select("#tsne_chart").append("div").attr("class", "toolTip");

let div_popup = d3v4.select("body")
                  .append("div")
                  .attr("id", "popup_pitch")
                  .attr("class", "tooltip")
                  .style("opacity", 0);

// Loading csv file
d3v4.csv("{% static 'dreams/data/coord_2D.csv' %}").row( (d, i) => {
    return {
        word : d.word,
      tag : d.tag,
        x_coord : +d.x_coord,
        y_coord : +d.y_coord,
        //z_coord : +d.z_coord,
      count : +d.count,
      frequence : +d.frequence,
      opacity : +d.opacity
    };
  })
  .get((error, rows) => {
    console.log("Loaded " + rows.length + " words");
    console.log(rows[0]);
    console.log(rows[20]);

   dataset = rows;

    x = d3v4.scaleLinear()
          .domain(d3v4.extent(rows,(row) => row.x_coord))
          .range([0, w]);

    y = d3v4.scaleLinear()
          .domain(d3v4.extent(rows,(row) => row.y_coord))
          .range([0, h]);

      draw_tsne();
      draw_legend();
});
</script>

<!-- BARCHART -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>

<script src="{% static 'dreams/js/barChart.js' %}"></script>

<!-- POSNEG CHART -->
<script src="{% static 'dreams/js/posnegChartSecond.js' %}"></script>

<!-- INCEPTION CHART -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
d3v4 = d3;
var path = [];
var values_path = [];
var history = [];

let complement = {};

let posneg_colors = ['#FFA3A3', '#CF7A7A', '#A05151', '#712828', '#420000','#000','#A3F7D0', '#7AC9A4', '#519C79', '#286F4E', '#004223'];

var posneg = [7, 21, 43, 89, 123, 21, 199, 120, 31, 20, 1];


var data_bar = [{'word': 'Cloud', 'freq': 250},
                {'word': 'Pitt', 'freq': 220},
                {'word': 'Gun', 'freq': 200},
                {'word': 'Monkey', 'freq': 123},
                {'word': 'Trophy', 'freq': 120},
                {'word': 'Arsenal', 'freq': 100},
                {'word': 'Car', 'freq': 94},
                {'word': 'Fish', 'freq': 80},
                {'word': 'Shoes', 'freq': 20},
                {'word': 'Beer', 'freq': 5}]

// 1- afficher les fils
// 2- zoomer
// 3- effacer les parents


var svg_inception = d3v4.select("#inception_chart")
                .append("svg")
                .attr("width", 600)
                .attr("height", 600)


// var svg_inception = d3.select("svg"),
var margin = 20,
    diameter = +svg_inception.attr("width"),
    g = svg_inception.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var color = d3v4.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .interpolate(d3v4.interpolateHcl);

var pack = d3v4.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2);

d3v4.json("/static/dreams/data/root.json", function(error, data) {
  if (error) throw error;

  // console.log(JSON.stringify(data))

  draw_barchart(data_bar );
  draw_posneg(posneg);
  draw(data, [], data);

});

function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function dataBar_converter(data) {
  var final = [];
  for (var word in data) {
    final.push({'word': word, 'freq': data[word]});
  };
  return final;
}

function erase() {
    console.log("erase");
    var circle = g.selectAll("*").remove();
}

function draw(base, words, subset) {
  console.log("draw", subset);

  new_bar_data = dataBar_converter(subset.data_bar);
  if(new_bar_data.length > 0) {
    data_bar = new_bar_data;
    redraw_barchart(data_bar);
  };

  new_posneg = subset.posneg;
  console.log('HHHEEEEYYYYY', new_posneg);
  if(new_posneg != undefined) {
    posneg = new_posneg;
    redraw_posneg(posneg);
  };


  console.log("DATA BAR", subset.data_bar, dataBar_converter(subset.data_bar));

  var node, circle, text, focus, nodes, view;

  root = d3v4.hierarchy(subset)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });


  focus = root,
  nodes = pack(root).descendants();
  // console.log("nodes", nodes)

  circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      // .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .attr("class", function(d) { return "node"; })
      .style("fill", function(d) { return d.children ? '#FFF' : getRandomColor(); })
      .on("click", function(d) { seekAndFind(base, words, d.data.name); if (focus !== d) zoom(d), d3v4.event.stopPropagation(); });

  text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      // .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.data.name; });

  node = g.selectAll("circle,text");

  svg_inception.style("background", '#FFF')
      .on("click", function() { seekAndFind(base, words, values_path[values_path.length-1]); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }

  function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3v4.transition()
        .duration(d3v4.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3v4.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

}

function load_author(base, words, name) {
  console.log("load author", name, base);

  d3v4.json(name, function(error, data){

    base.children[path[0]].children = data.children[0].children;

    // data.children[0].children = data.children[0].children.map(function(group) {
    //     return {
    //       name: group.name,
    //       children: [],
    //       size: group.size
    //     }
    // });

    data.children[0].children = data.children[0].children.map(function(group) {
        return Object.assign({}, group, {
          children: []
        });
    });


    erase();
    draw(base, words, data.children[0]);

  })

};


function load_author_then_dream(base, words, name, dream) {
  console.log("load author then dream", name, base);

  d3v4.json(name, function(error, data){

    base.children[path[0]].children = data.children[0].children;

    seekAndFind(base, words, dream)

  })

};

function load_words(base, words, name) {
  console.log("load words", name, base);

  let i;
  if (name.charAt(0).match(/[0-9A-C]/)) {
    console.log('fichier words 0');
    i = 0;
  } else if (name.charAt(0).match(/[D-J]/)) {
    console.log('fichier words 1');
    i = 1;
  } else if (name.charAt(0).match(/[K-R]/)) {
    console.log('fichier words 2');
    i = 2;
  } else if (name.charAt(0).match(/[S-Z]/)) {
    console.log('fichier words 3');
    i = 3;
  };


  d3v4.json('/static/dreams/data/words_'+i+'.json', function(error, data){

    words = words.concat(data);

    tmp = words.findIndex(function(children){ return children.name == name });

    path[2] = tmp;
    values_path[i] = name;
    erase();
    draw(base, words, words[tmp]);

  })

};

function seekAndFind(base, words, name) {
  console.log("seekAndFind", name, path);

  subset = base;

  if(typeof name === 'undefined') {
    return;
  }

  if(name === values_path[path.length-1]) {
    // if(path.length < 4){
      console.log("zoom out !");
      path.pop()
      values_path.pop()

      for (var i = 0; i < path.length; i++) {
        subset = subset.children[path[i]];
      }

      // subset.children = subset.children.map(function(group) {
      //     return {
      //       name: group.name,
      //       children: [],
      //       size: group.size
      //     }
      // });

      subset.children = subset.children.map(function(group) {
          return Object.assign({}, group, {
            children: []
          });
      });

      erase();
      draw(base, words, subset);
      return;
  // } else {
  //   load_words(base, words, name);
  //   return
  // };
};

  if( path.length === 2) {
    tmp = words.findIndex(function(children){ return children.name == name });
    if( tmp === -1){
      load_words(base, words, name);
      return;
    }else{
      console.log('iznvoq')
      path[2] = tmp;
      values_path[i] = name;
      erase();
      draw(base, words, words[tmp]);
      return;
    };
  } else if ( path.length === 3) {
    path = []
    values_path = []
    author = name.split('_')[0]
    dream = name.split('_')[1]
    console.log(author, dream);
    values_path[0] = author;
    subset = base;
    path[0] = subset.children.findIndex(function(children){ return children.name == author });
    // seekAndFind(base, words, dream);
    // return;
    if( subset.children[path[0]].children.length == 0) {
      author = author.replace(/\W/g,'');
      author = "/static/dreams/data/dreams_"+author+".json";
      load_author_then_dream(base, words, author, dream);
      return;
    }
    name = dream;
  }



  // if( path.length === 3 ) {
  //   name = name.split(",");
  //   path.pop();
  //   values_path.pop();
  //   path[0] = base.findIndex(function(children){ return children.name == name[0] });
  //   values_path[0] = name[0];
  //   subset = subset.children[path[0]]
  //   if( subset.children.length == 0) {
  //     name = name.replace(/\W/g,'');
  //     name = "data/dreams_"+name+".json";
  //     load_author_get_dream(base, words, name);
  //   }
  //   path[1] = base.findIndex(function(children){ return children.name == name[1] });
  //   values_path[1] = name[1];
  //   subset = subset.children[path[1]]
  //   erase();
  //   draw(base, words, subset);
  //   return;
  // }


  for (var i = 0; i < path.length; i++) {
    subset = subset.children[path[i]];
  }

  values_path[i] = name;
  path[i] = subset.children.findIndex(function(children){ return children.name == name });
  // base = base.children[path[i]];

  if( subset.children[path[i]].children.length == 0) {
    name = name.replace(/\W/g,'');
    name = "/static/dreams/data/dreams_"+name+".json";
    load_author(base, words, name);
    return;
  }

  erase();
  draw(base, words, subset.children[path[i]]);
  return;
}

// window.d3 = null;
// window.d3v4 = null;


</script>



<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>


{% endblock d3js %}
