{% extends 'dreams/base.html' %}
{% load static %}

{% block main %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">


          <div class="row">

              <div class="col-sm-8">

                <div class="au-card m-b-30">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">Dreams map</h3>
                        <div class="card-body" id="container_map"></div>
                    </div>
                </div>

              </div>


              <div class="col-sm-4 well">

                <div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
                  <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Interaction words</h3>
                          <div class="chart-wrapper" id="bar_chart"></div>
                      </div>
                  </div>
                </div>

                <div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
                  <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Interaction words</h3>
                          <div class="chart-wrapper" id="posneg_second_chart"></div>
                      </div>
                  </div>
                </div>

              </div>

              <div class="col-sm-12">
                <div class="au-card m-b-30" style="padding-left: 20px;">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">Interaction words</h3>
                        <center>
                        <div class="chart-wrapper" id="tsne_chart"></div>
                      </center>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock main %}

{% block d3js %}
<!-- TSNE CHART -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'dreams/js/tsneChart.js' %}"></script>
<script>
// AJOUTER LEGENDE COULEUR
  let d3v4 = d3
	const w = 300;
	const h = 300;
	const leg_w = 150;
	const leg_h = 100;
	let x;
	let y;
	let dataset = [];
	let on_word;

	// Append SVG
	let svg = d3v4.select("#tsne_chart")
				.append("svg")
				.attr("width", w)
				.attr("height", h)
				.call(d3v4.zoom().on("zoom", function () {
    			svg.attr("transform", d3v4.event.transform)
	 			}))
				.append("g");

var tabeau_legendes = [{'type' : "Verb", 'color' : "#c300ff"},
 									 		{'type' : "Noun", 'color' : "#009b31"},
											{'type' : "Adverb", 'color' : "#ff0000"},
											{'type' : "Other", 'color' : "#f4df41"},
											{'type' : "Adjective", 'color' : "#0008ff"}]

var tooltip = d3v4.select("#tsne_chart")
			    .append("div")
			    .style("position", "absolute")
			    .style("z-index", "10")
			    .style("visibility", "hidden")
			    .style("opacity", "0.8")
			    .style("padding","10px")
			    .style("border-radius","2px")
			    .style("background-color", "black")
					.style("color", "white");

// Loading csv file
d3v4.csv("{% static 'dreams/data/coord_2D.csv' %}").row( (d, i) => {
		  return {
		    word : d.word,
				tag : d.tag,
		    x_coord : +d.x_coord,
		    y_coord : +d.y_coord,
		    //z_coord : +d.z_coord,
				count : +d.count,
				frequence : +d.frequence,
				opacity : +d.opacity
		  };
		})
		.get((error, rows) => {
			console.log("Loaded " + rows.length + " words");
		  console.log(rows[0]);
		  console.log(rows[20]);

		 dataset = rows;

			x = d3v4.scaleLinear()
			      .domain(d3v4.extent(rows,(row) => row.x_coord))
			      .range([0, w]);

			y = d3v4.scaleLinear()
			      .domain(d3v4.extent(rows,(row) => row.y_coord))
			      .range([0, h]);

		  	draw();
				draw_legend();
		});
</script>


<!-- BARCHART -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>
<script src="{% static 'dreams/js/barChart.js' %}"></script>

<!-- POSNEG CHART -->
<script src="{% static 'dreams/js/posnegChartSecond.js' %}"></script>

<!---->
<script>
    d3.json("/static/dreams/data/data_map.json", function(error, myData) {

      let dataset = {};

      let onlyValues = myData.map(function(obj){ return obj[1]; });
      let minValue = Math.min.apply(null, onlyValues),
              maxValue = Math.max.apply(null, onlyValues);

      // create color palette function
      // color can be whatever you wish
      let paletteScale = d3.scale.linear()
              .domain([minValue,maxValue])
              .range(["#EFEFFF","#02386F"]); // blue color

      // fill dataset in appropriate format
      myData.forEach(function(item){ //
          // item example value ["USA", 70]
          let iso = item[0],
                  value = item[1];
          dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };

      });

      // render map
      let map = new Datamap({
          element: document.getElementById('container_map'),
          projection: 'mercator', // big world map
          responsive: true,
          fills: { defaultFill: '#F5F5F5' },
          data: dataset,
          geographyConfig: {
              borderColor: '#DEDEDE',
              highlightBorderWidth: 2,
              // don't change color on mouse hover
              highlightFillColor: function(geo) {
                  return geo['fillColor'] || '#F5F5F5';
              },
              // only change border
              highlightBorderColor: '#B7B7B7',
              // show desired information in tooltip
              popupTemplate: function(geo, data) {
                  // don't show tooltip if country don't present in dataset
                  if (!data) { return ; }
                  // tooltip content
                  return ['<div class="hoverinfo">',
                      '<strong>', geo.properties.name, '</strong>',
                      '<br>Count: <strong>', data.numberOfThings, '</strong>',
                      '</div>'].join('');
              }
          }
      });

    });

</script>
{% endblock d3js %}
